<div class="login">
    <p class="popup-title"><b>Login</b></p>
    <div class="notifyLogin" *ngIf="resultLogin">{{resultLogin}}</div>
    <div class="rowInput">
        <div class="label"><label for="username" style="width: 200px;">Username: </label></div>
        <input type="text" [(ngModel)]="username">
    </div>
    <div class="rowInput">
        <div class="label"><label for="password" style="width: 200px;">Password: </label></div>
        <input type="password" [(ngModel)]="password">
    </div>
    <div class="rowButton">
        <button (click)="login()">Login</button>
    </div>
</div>
